{% extends 'base.html.twig' %}

{% block body %}
    <h1>Receptions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Express</th>
                <th>Gratuit</th>
                <th>Motifgratuit</th>
                <th>Montanttotal</th>
                <th>Montantverse</th>
                <th>Dateoperation</th>
                <th>Daterdv</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reception in receptions %}
                <tr>
                    <td><a href="{{ path('reception_show', { 'id': reception.id }) }}">{{ reception.id }}</a></td>
                    <td>{% if reception.express %}Yes{% else %}No{% endif %}</td>
                    <td>{% if reception.gratuit %}Yes{% else %}No{% endif %}</td>
                    <td>{{ reception.motifGratuit }}</td>
                    <td>{{ reception.montantTotal }}</td>
                    <td>{{ reception.montantVerse }}</td>
                    <td>{% if reception.dateOperation %}{{ reception.dateOperation|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if reception.dateRdv %}{{ reception.dateRdv|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('reception_show', { 'id': reception.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('reception_edit', { 'id': reception.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reception_new') }}">Create a new reception</a>
        </li>
    </ul>
{% endblock %}
