{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des droits et accès</h1>
    <table class="table table-hover table-bordered panel-default">
        <thead class="panel-heading">
            <tr>
                <th>Id</th>
                <th>Fonctions</th>
                <th>Tâches</th>
                <th>Modifier/Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for droit in droits %}
                <tr>
                    <td><a href="{{ path('droit_show', { 'id': droit.id }) }}">{{ droit.id }}</a></td>
                    <td>
                        {{ droit.fonction }}
                    </td>
                    <td>
                        {{ droit.tache }}
                    </td>
                    <td>
                        <a href="{{ path('droit_edit', { 'id': droit.id }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('droit_new') }}">Create a new droit</a>
        </li>
    </ul>
{% endblock %}
