{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des clients</h1>
    <table class="table table-hover table-bordered panel-primary">
        <thead class="panel-heading">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Détails</th>
                <th>Modifier/Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                    <td>{{ client.nom }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <a href="{{ path('client_show', { 'id': client.id }) }}">Détail</a>
                    </td>
                    <td>
                        <a href="{{ path('client_edit', { 'id': client.id }) }}">Modifier</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}">Créer un nouveau client</a>
        </li>
    </ul>
{% endblock %}
